.custom-header {
	height: 319px;
	width: 100%;
}
navigation-top, .menu {
	background-color: #DEA293;
}
#tix-attendees a {
	-webkit-box-shadow: none;
	box-shadow: none;
}
navigation-top, .menu {
    background-color: #fff;
}
.single-featured-image-header {
	max-width: 1000px;
        margin: 0 auto;
}
