/**
Custom CSS for WordCamp Cape Town
 */
.custom-header {
	height: 319px;
	width: 100%;
}

.page-template-default #wp-custom-header,
.post-template-default #wp-custom-header {
	background-image: url(https://2017.capetown.wordcamp.org/files/2017/06/Header-Image.jpg);
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
}

.page-template-default #wp-custom-header img,
.post-template-default #wp-custom-header img {
	display: none;
}

navigation-top, .menu {
	background-color: #DEA293;
}

#tix-attendees a {
	-webkit-box-shadow: none;
	box-shadow: none;
}

navigation-top, .menu {
	background-color: #fff;
}

.single-featured-image-header {
	max-width: 1000px;
	margin: 0 auto;
}

#book-button {
	display: block;
	padding: 1em 0;
	background: hsl( 25, 50%, 13% );
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
	border-radius: 300px;
}

#book-button:hover {
	background: hsl( 25, 50%, 46% );
}

.menu-item-582 {
  background: hsl( 25, 50%, 13% );
}

.menu-item-582 a {
  color: #fff;
}

.menu-item-582:hover {
	background: hsl( 25, 50%, 46% );
}
